<a id="spy-about" class="ancor"></a>
<section class="section section--screen section--background  section-about  jarallax" data-speed="0.5" data-img-position="50% 30%" style="background-image: url(../assets/img/wellness.jpg);">

	 <div class="pattern" style="opacity: .5"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="col-MB-30">
					<h1 class="section-about__title">{{'welnessTitle' |translate}}</h1>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="col-MB-15">
					<div class="col-MB-30">
						<h3 style="font-weight: bolder; font-size: large;" >{{'wellnessdesc'|translate}}</h3>
					</div>

				</div>
			</div>


			<div class="col-12">
				<p>&nbsp;</p>
				<p>
					<a class="custom-btn primary big" href="#">{{'findMore'|translate}}</a>
				</p>
			</div>
		</div>
	</div>
</section>