	<!-- start section -->
    <a id="spy-about" class="ancor parallax-section"></a>
    <section class="section parallax-section section--screen section--background  section-about" style="background-image: url(../assets/img/about_image.jpg);">

         <div class="pattern" style="opacity: .5"></div>

        <div class="container ">
            <div class="row parallax-element">
                <div class="col-lg-8">
                    <div class="col-MB-30">
                        <h2 class="section-about__title">{{'aboutTitle'|translate}}</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="col-MB-15">
                        <div class="col-MB-30">
                            <h4>{{'aboutDescription' |translate}}</h4>
                        </div>

                        <h2>
                            {{'vision' |translate}}
                        </h2>

                        <p>
                            {{'VisionTra' |translate}}
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-MB-15">
                        <h2>
                            {{'Mission' |translate}}
                        </h2>

                        <p>
                           {{'MissionTra' |translate}}
                        </p>
                    </div>
                </div>

                <div class="col-12">
                    <!-- <p>&nbsp;</p> -->
                    <p (click)="navigateToAboutPage()">
                        <a class="custom-btn primary big" style="font-weight: bolder;">{{'findMore' |translate}}</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
<router-outlet></router-outlet>
    
    <!-- end section -->