<div
    class="account-settings-card"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <h4>
        Profile
    </h4>
    <p>
        Update your photo and personal details here.
    </p>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                  Name
                </label>
                <mat-form-field>
                    <mat-label>
                        Name
                    </mat-label>
                    <input matInput  placeholder="E.g. Muhammad" formControlName="userName">
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                  Position
                </label>
                <mat-form-field>
                    <mat-label>
                        Position
                    </mat-label>
                    <input matInput  placeholder="E.g. Manager" formControlName="userPosition">
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                    Email Address
                </label>
                <mat-form-field>
                    <mat-label>
                        Email address
                    </mat-label>
                    <input matInput  placeholder="E.g.test@test.com" formControlName="userEmail">
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                    Phone Number
                </label>
                <mat-form-field>
                    <mat-label>
                        Phone number
                    </mat-label>
                    <input type="text" matInput placeholder="+(555) 555-1234" formControlName="userPhone">
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                    Add Your Bio
                </label>
                <mat-form-field class="textarea">
                    <mat-label>
                        Write here....
                    </mat-label>
                    <textarea matInput placeholder="E.g. It makes me feel..." formControlName="userBio"></textarea>
                </mat-form-field>
            </div>
        </div>
        <h4>
            Social Profile
        </h4>
        <p></p>
        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                    Facebook
                </label>
                <mat-form-field>
                    <mat-label>
                        Facebook
                    </mat-label>
                    <input matInput placeholder="https://www.facebook.com/" formControlName="userFacebookUrl">
                </mat-form-field>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                    Linkedin
                </label>
                <mat-form-field>
                    <mat-label>
                        Linkedin
                    </mat-label>
                    <input matInput placeholder="https://www.linkedin.com/" formControlName="userLinkedInUrl">
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black">
                    X-twitter
                </label>
                <mat-form-field>
                    <mat-label>
                        X-twitter
                    </mat-label>
                    <input matInput placeholder="https://twitter.com/" formControlName="userTwitterUrl">
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-25">
                <label class="main-label d-block lh-1 text-black" >
                    instagram
                </label>
                <mat-form-field>
                    <mat-label>
                        instagram
                    </mat-label>
                    <input matInput placeholder="https://www.instagram.com/" formControlName="userInstagramUrl">
                </mat-form-field>
            </div>
        </div>
    </div>
    <h4>
        Your Photo
    </h4>
    <p>
        This will be displayed on your profile.
    </p>
    <div class="mb-25">
        <file-upload 
        class="file-uploader" 
        [multiple]="false"
        formControlName="files"
        >


        </file-upload>
    </div>

    <div class="btn-box">
        <button mat-button type="submit">
            Update Profile
        </button>
        <button mat-button>
            Cancel
        </button>
    </div>
</form>
</div>