<mat-card
    class="daxa-card about-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <h5>
            Profile Information
        </h5>
        <ul class="pl-0 mb-0 list-unstyled mt-0">
            <li class="text-body">
                Full Name: <span class="text-black">  {{userInfo?.userName?userInfo?.userName:"User Name"}}</span>
            </li>
            <li class="text-body">
                Email: <span class="text-black"> {{userInfo?.userEmail?userInfo?.userEmail:"User Email"}}</span>
            </li>
            <li class="text-body">
                Role: <span class="text-black"> {{userInfo?.userRole?userInfo?.userRole:"User Role"}}</span>
            </li>
            <li class="text-body">
                userPosition: <span class="text-black">{{userInfo?.userPosition?userInfo?.userPosition:"User Position"}}</span>
            </li>
            <li class="text-body">
                Join Date: <span class="text-black">{{userInfo?.startDateExp | date:'dd/MM/yyyy'}}</span>
            </li>
        </ul>
   
    </mat-card-content>
</mat-card>