.mat-mdc-card {
    &.daxa-card {
        &.about-card {
            .mat-mdc-card-content {
                h5 {
                    margin: {
                        top: 25px;
                        bottom: 14px;
                    };
                    &:first-child {
                        margin-top: 0;
                    }
                }
                ul {
                    li {
                        margin-bottom: 12px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &.rtl-enabled {
                .mat-mdc-card-content {
                    ul {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}
