<!-- <!DOCTYPE html>
<html class="no-js" lang="en"> -->

	
<body class="page page-landing">

    <!-- start header -->
<app-carousel></app-carousel>
    <!-- end header -->
    <main role="main">
        <!-- start section -->
    <app-services></app-services>
        <!-- end section -->
    <!-- start section -->
<app-about></app-about>
        <!-- end section -->
    <!-- start section -->
<app-sustainability></app-sustainability>
    <!-- end section -->
        <!-- start section -->
<app-testimonials></app-testimonials>
        <!-- end section -->
<!-- start section -->
<app-wellness></app-wellness>
<!-- end section -->
        <!-- start section -->
    <app-progress></app-progress>
        <!-- end section -->

        <!-- start section -->
<app-products-main></app-products-main>
        <!-- end section -->

        <!-- start section -->
        <app-blog></app-blog>
        <!-- end section -->

        <!-- start section -->
    <app-partneship></app-partneship>
        <!-- end section -->

        <!-- start section -->
    <app-contact></app-contact>
        <!-- end section -->
    </main>

    <!-- start footer -->
<app-footer></app-footer>
    <!-- end footer -->

</body>



<!-- </html> -->

<router-outlet></router-outlet>


