<section class="section section--no-pt section--no-pb" style="background-image:url('../assets/img/sustainability2.jpg');">

    <div class="section-heading section-heading--center section-heading--white">
                <h2 class="title" style="padding-top: 20px; color: darkslategrey;">{{'sustainabilityTitle' |translate}}</h2>
                <h4>{{'sustainabilityDescription'|translate}}</h4>
            </div>
    <div class="container-fluid">
        <div class="products--style-2">
            <div class="products__inner">
                <div class="row no-gutters">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="product__item">
                            <figure>
                                <img src="../assets/img/blank.gif" style="background-image: url('../assets/img/gall_img/Water_Conservation.jpg');" alt="demo" />
                            </figure>

                            <div class="product__item__description">
                                <div class="product__item__description__inner">
                                    <h2 class="product__item__title">{{'WaterConservation'|translate}}<br />{{'WaterConservation1'|translate}}</h2>

                                    <h4  style="font-weight: bolder; font-size: large;" >{{'waterConservationDesc'|translate}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="product__item">
                            <figure>
                                <img src="../assets/img/blank.gif" style="background-image: url('../assets/img/gall_img/Organic_Farming.jpg');" alt="demo">
                            </figure>

                            <div class="product__item__description">
                                <div class="product__item__description__inner">
                                    <h2 class="product__item__title">{{'organic'|translate}}<br />{{'organicFarm'|translate}}</h2>

                                   <h4  style="font-weight: bolder; font-size: large; color: white;" >{{'organicDesc'|translate}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="product__item">
                            <figure>
                                <img src="../assets/img/blank.gif" style="background-image: url('../assets/img/gall_img/Waste_Reduction.jpg');" alt="demo">
                            </figure>

                            <div class="product__item__description">
                                <div class="product__item__description__inner">
                                    <h2 class="product__item__title">{{'Waste'|translate}}<br />{{'reduction'|translate}}</h2>

                                   <h4 style="font-weight: bolder; font-size: large; color: white;" >{{'wasteDesc'|translate}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>