<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        {{ mode === 'create' ? 'Add New Product' : 'Edit Product' }}
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            Products
        </li>
        <li class="breadcrumb-item position-relative">
            {{ mode === 'create' ? 'Create Product' : 'Edit Product' }}
        </li>
    </ol>
</div>

<!-- Create Product -->
<mat-card
    class="daxa-card create-product-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-lg-8">
                    <h5 class="title mt-0">
                        {{ mode === 'create' ? 'Add New Product' : 'Edit Product' }}
                    </h5>
                    <div class="row">
                        <!-- Product Title -->
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    Product Title
                                </label>
                                <mat-form-field>
                                    <mat-label>Product title</mat-label>
                                    <input matInput placeholder="E.g. Hand Watch" formControlName="productName">
                                </mat-form-field>
                            </div>
                        </div>
                        
                        <!-- Product Arabic Title -->
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    Product Arabic Title
                                </label>
                                <mat-form-field>
                                    <mat-label>Product Arabic title</mat-label>
                                    <input matInput placeholder="E.g. Hand Watch" formControlName="productArabicName">
                                </mat-form-field>
                            </div>
                        </div>
                        
                        <!-- Description -->
                        <div class="col-sm-12">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">Description</label>
                                <mat-form-field appearance="fill">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput formControlName="description" rows="5" placeholder="Enter description here"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="mb-25" >
                            <label class="main-label d-block lh-1 text-black">
                              Upload New Product Images
                            </label>
                        
                            <file-upload
                              formControlName="files"
                              class="file-uploader"
                              [multiple]="true"
                              [animation]="false"
                              
                            ></file-upload>
                          </div>
                    </div>
                </div>

           
         
                
                <!-- Category & Price -->
                <div class="col-lg-4">
                    <h5 class="title mt-0">Product Category & Price</h5>
                 <!-- Current Product Image -->
<div *ngIf="mode === 'edit' && productImageUrl" class="col-sm-12">
    <label class="main-label d-block lh-1 text-black">Current Product Image</label>
    <img [src]="productImageUrl" alt="Current Product" class="img-fluid border rounded" style="height: 250px; object-fit: cover;width: 100%;">
</div>

                    <div class="row">
                        <!-- Category -->
                        <div class="col-sm-6 col-lg-12">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black" style="padding-top: 20px;">Category</label>
                                <mat-form-field>
                                    <mat-label>Select Category</mat-label>
                                    <mat-select formControlName="categoryId">
                                      <mat-option *ngFor="let category of categories" [value]="category.id">
                                        {{category.categoryName}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  
                            </div>
                        </div>
                        
                        <!-- Price -->
                        <div class="col-sm-6 col-lg-12">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">Price</label>
                                <mat-form-field>
                                    <mat-label>Regular price</mat-label>
                                    <input matInput placeholder="E.g. $99" formControlName="price">
                                </mat-form-field>
                            </div>
                        </div>
                        
                 <!-- Start Month -->
<div class="col-sm-6 col-lg-12">
    <div class="mb-25">
        <label class="main-label d-block lh-1 text-black">Start Month</label>
        <mat-form-field>
            <mat-label>Choose a month</mat-label>
            <mat-select formControlName="startMonth">
                <mat-option *ngFor="let month of months" [value]="month.value">
                    {{ month.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<!-- End Month -->
<div class="col-sm-6 col-lg-12">
    <div class="mb-25">
        <label class="main-label d-block lh-1 text-black">End Month</label>
        <mat-form-field>
            <mat-label>Choose a month</mat-label>
            <mat-select formControlName="endMonth">
                <mat-option *ngFor="let month of months" [value]="month.value">
                    {{ month.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

                        
                        <!-- In Stock? -->
                        <div class="col-sm-6 col-lg-12">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">In Stock?</label>
                                <mat-form-field>
                                    <mat-label>In Stock?</mat-label>
                                    <mat-select formControlName="isStock">
                                      <mat-option [value]="true">Yes</mat-option>
                                      <mat-option [value]="false">No</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                        </div>
                        
                        <!-- Draft -->
                     @if(mode=='edit'){
                        <div class="col-sm-6 col-lg-12">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">Draft</label>
                                <mat-form-field>
                                    <mat-label>In Stock?</mat-label>
                                    <mat-select formControlName="onWeb">
                                      <mat-option [value]="true">Yes</mat-option>
                                      <mat-option [value]="false">No</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                        </div>
                     }
                    </div>
                </div>
            </div>
            
            <!-- Buttons -->
            <div class="btn-box">
                <button mat-button type="submit">
                    {{ mode === 'create' ? 'Create Product' : 'Update Product' }}
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
