<a id="spy-progress" class="ancor"></a>
<section class="section parallax-section  section--screen section--background-base-light section--background-logo">
    <div class="container">
        <div class="section-heading section-heading--left">
            <h2 class="title">Bonna Terra Progress</h2>
        </div>

        <div class="counters counters--style-2">
            <div class="counters__inner">
                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div class="counter__item">
                            <i class="counter__item__ico counter__item__ico--1"></i>
                            <p class="counter__item__count js-count" data-from="0" data-to="600" data-after="k">0</p>
                            <p class="counter__item__title">tonnes of fruits assembled</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="counter__item">
                            <i class="counter__item__ico counter__item__ico--2"></i>
                            <p class="counter__item__count js-count" data-from="0" data-to="50" data-after="k">0</p>
                            <p class="counter__item__title">hectare of production</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="counter__item">
                            <i class="counter__item__ico counter__item__ico--3"></i>
                            <p class="counter__item__count js-count" data-from="0" data-to="250">0</p>
                            <p class="counter__item__title">units of equipment</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="counter__item">
                            <i class="counter__item__ico counter__item__ico--4"></i>
                            <p class="counter__item__count js-count" data-from="0" data-to="300" data-after="k">0</p>
                            <p class="counter__item__title">tons of fresh vegetables</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
