header.intro {
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ensures it takes up full height of the viewport */
  }
  
  @media (max-width: 768px) {
    header.intro {
      background-size: contain; /* Change to contain for small screens */
      background-position: center top; /* Position the image from the top */
      height: 50vh; /* Adjust height so the image is not too zoomed */
    }
  }
  
  @media (max-width: 480px) {
    header.intro {
      background-size: contain;
      background-position: center top;
      height: 40vh; /* Further adjust height for smaller screens */
    }
  }
  