<a id="spy-services" class="ancor"></a>
<section class="section section--screen  section-services">
    <div class="container">
        <div class="row ">
            <div class="col-xl-4">
                <div class="col-MB-30">
                    <h2>Bonna Terra<br />Services</h2>

                    <h4>Smells racy free announcing than durable zesty smart exotic far feel. </h4>

                    <p>
                        Evulates vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes newer recommended lifetime. 
                    </p>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="feature feature--style-3">
                    <div class="feature__inner">
                        <div class="row justify-content-between">
                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="feature__item">
                                    <i class="feature__item__ico feature__item__ico--1"></i>

                                    <h3 class="feature__item__title  h4">Agriculture Products</h3>

                                    <p>
                                        Evulates vast a real proven works discount secure care. Market invigorate a awesome 
                                    </p>

                                    <!-- <p>
                                        <a class="custom-btn primary" href="#">See more</a>
                                    </p> -->
                                </div>
                            </div>
                            <!-- end item -->

                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="feature__item">
                                    <i class="feature__item__ico feature__item__ico--2"></i>

                                    <h3 class="feature__item__title  h4">Fresh Vegatables</h3>

                                    <p>
                                        Natural our comes for sold tired value survey brighter genuine brings smells
                                    </p>
<!-- 
                                    <p>
                                        <a class="custom-btn primary" href="#">See more</a>
                                    </p> -->
                                </div>
                            </div>
                            <!-- end item -->

                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="feature__item">
                                    <i class="feature__item__ico feature__item__ico--3"></i>

                                    <h3 class="feature__item__title  h4">Different Livestock</h3>

                                    <p>
                                        Plus extravaganza delectable chosen yummy can't better fresh worthwhile will
                                    </p>

                                    <!-- <p>
                                        <a class="custom-btn primary" href="#">See more</a>
                                    </p> -->
                                </div>
                            </div>
                            <!-- end item -->

                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-lg-3">
                                <div class="feature__item">
                                    <i class="feature__item__ico feature__item__ico--4"></i>

                                    <h3 class="feature__item__title  h4">Farm Factory</h3>

                                    <p>
                                        Citrus stimulates ultimate unlimited energy very genuine spacious silky savor 
                                    </p>

                                    <p (click)="navigateToAboutPage()">
                                        <a class="custom-btn primary">See more</a>
                                    </p>
                                </div>
                            </div>
                            <!-- end item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>