<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Categories Grid
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Categories 
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            Categories List
        </li>
    </ol>
</div>

<!-- Categories Grid -->
<div
    class="row justify-content-center align-items-center " 
  
    [class.component-dark-theme]="themeService.isDark()"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="col-md-4 col-lg-4">


    </div>
    <div class="col-md-4 col-lg-9">

        <!-- ProductsCa -->
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
                    <mat-card-content>
                        <div class="image position-relative border-radius">
                            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
                                <img src="../../../../assets/images/products/product1.jpg" class="border-radius transition" alt="product-image">
                            </a>
                            <button mat-fab>
                                <i class="ri-heart-line"></i>
                                
                            </button>
                        </div>
                        <div class="content">
                            <h5>
                                <a routerLink="/ecommerce-page/product-details">
                                    Fruits
                                </a>
                            </h5>
                            <div class="price d-flex align-items-center justify-content-center lh-1">
                                <span class="text-black fw-medium d-block">
                                   25 items
                                </span>
                                <!-- <span class="text-body d-block">
                                    $180.00
                                </span> -->
                            </div>
              
                            <!-- <button mat-button>
                                <i class="material-symbols-outlined">
                                    Edit
                                </i>
                               Edit 
                            </button> -->
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6 col-lg-4">
                <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
                    <mat-card-content>
                        <div class="image position-relative border-radius">
                            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
                                <img src="../../../../assets/images/products/product2.jpg" class="border-radius transition" alt="product-image">
                            </a>
                            <button mat-fab>
                                <i class="ri-heart-line"></i>
                            </button>
                        </div>
                        <div class="content">
                            <h5>
                                <a routerLink="/ecommerce-page/product-details">
                                   Vegetables
                                </a>
                            </h5>
                            <div class="price d-flex align-items-center justify-content-center lh-1">
                                <span class="text-black fw-medium d-block">
                                    32 items
                                </span>
                                <!-- <span class="text-body d-block">
                                    $780.00
                                </span> -->
                            </div>
                            <!-- <div class="ratings lh-1 d-flex align-items-center justify-content-center text-body">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-line"></i>
                                <span class="d-inline-block position-relative">
                                    (4.5)
                                </span>
                            </div> -->
                            <!-- <button mat-button>
                                <i class="material-symbols-outlined">
                                    shopping_basket
                                </i>
                                Add To Cart
                            </button> -->
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6 col-lg-4">
                <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
                    <mat-card-content>
                        <div class="image position-relative border-radius">
                            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
                                <img src="../../../../assets/images/products/product3.jpg" class="border-radius transition" alt="product-image">
                            </a>
                            <button mat-fab>
                                <i class="ri-heart-line"></i>
                            </button>
                        </div>
                        <div class="content">
                            <h5>
                                <a routerLink="/ecommerce-page/product-details">
                                    Daiy Products
                                </a>
                            </h5>
                            <div class="price d-flex align-items-center justify-content-center lh-1">
                                <span class="text-black fw-medium d-block">
                                    12 items
                                </span>
                                <!-- <span class="text-body d-block">
                                    $300.00
                                </span> -->
                            </div>
                            <!-- <div class="ratings lh-1 d-flex align-items-center justify-content-center text-body">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                                <span class="d-inline-block position-relative">
                                    (4)
                                </span>
                            </div> -->
                        
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6 col-lg-4">
                <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
                    <mat-card-content>
                        <div class="image position-relative border-radius">
                            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
                                <img src="../../../../assets/images/products/product4.jpg" class="border-radius transition" alt="product-image">
                            </a>
                            <button mat-fab>
                                <i class="ri-heart-line"></i>
                            </button>
                        </div>
                        <div class="content">
                            <h5>
                                <a routerLink="/ecommerce-page/product-details">
                                    LOng shelf Products
                                </a>
                            </h5>
                            <div class="price d-flex align-items-center justify-content-center lh-1">
                                <span class="text-black fw-medium d-block">
                                    15 items
                                </span>
                                <!-- <span class="text-body d-block">
                                    $100.00
                                </span> -->
                            </div>
                            <!-- <div class="ratings lh-1 d-flex align-items-center justify-content-center text-body">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-line"></i>
                                <i class="ri-star-line"></i>
                                <span class="d-inline-block position-relative">
                                    (3.5)
                                </span>
                            </div> -->
                   
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
       

        </div>

        <!-- Pagination -->
        <div class="pagination-card mb-25 d-lg-flex align-items-center justify-content-between">
            <p class="mb-0">
                Showing 1 to 9 of 50 entries
            </p>
            <ol class="pagination list-unstyled mt-0 mb-0 pl-0">
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink="/ecommerce-page">
                        <i class="material-symbols-outlined">
                            west
                        </i>
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink="/ecommerce-page" class="active">
                        1
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink="/ecommerce-page">
                        2
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink="/ecommerce-page">
                        3
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink="/ecommerce-page">
                        <i class="material-symbols-outlined">
                            east
                        </i>
                    </a>
                </li>
            </ol>
        </div>

    </div>
</div>
<router-outlet />
