<div
    [ngClass]="{'blank-page': router.url === '/authentication' || router.url.startsWith('/authentication')}"
    [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.card-border-radius]="themeService.isCardBorderRadius()"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Main Content -->
    <div
        class="main-content transition d-flex flex-column"
        [ngClass]="{'active': isSidebarToggled}"
        [class.right-sidebar]="themeService.isRightSidebar()"
        [class.hide-sidebar]="themeService.isHideSidebar()"
    >
        <app-header></app-header>
        <router-outlet></router-outlet>
    </div>

    <!-- Customizer Settings -->
    <app-customizer-settings></app-customizer-settings>
    
</div>
