/* General table styling */
table {
    width: 100%;
}

/* Transition for smooth row expansion */
tr {
    transition: all 0.3s ease; /* Smooth transition for visibility */
}

/* Ensure rows are visible and correctly styled */
tr.ng-trigger {
    display: table-row;
}

/* Styling for example-element-row to handle hover and active states */
tr.example-element-row {
    background: #fff; /* Default background */
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #777; /* Hover background */
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef; /* Active background */
}

/* Styling for example-element-detail to manage expanded rows */
tr.example-detail-row {
    height: auto; /* Ensure correct height when expanded */
    display: table-row; /* Ensure row is displayed */
}

/* Fix border issue */
.example-element-row td {
    border-bottom-width: 0;
}

/* Styling for the expanded detail row */
.example-element-detail {
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

/* Specific icon styling */
mat-icon {
    cursor: pointer;
}

/* Ensure that element descriptions and other text are properly styled */
.example-element-description {
    padding: 16px;
    display: block;
    margin-bottom: 10px;
}

/* Styling for the details section */
.example-element-description-attribution {
    opacity: 0.5;
}

.daxa-card.customers-card {
    .mat-mdc-card-content {
        .customers-table {
            .mat-mdc-table {
                // Ensure no extra margin or padding causing extra space
                margin: 0;
                padding: 0;

                .example-detail-row {
                    height: 0;
                    overflow: hidden;
                }
                
                tr.example-expanded-row {
                    background-color: #f5f5f5; // Adjust background color if needed
                }

                // Optional: Adjust padding and margin for the table cells if necessary
                .mat-mdc-header-cell,
                .mat-mdc-cell {
                    padding: 8px; // Adjust padding if needed
                }
            }
        }
    }
}
