<!-- Customers Table -->
<mat-card class="daxa-card customers-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()">
    <mat-card-header>
        <mat-card-title>
            <form class="search-box position-relative">
                <i class="material-symbols-outlined">search</i>
                <input type="text" class="input-search d-block w-100 border-none outline-0"
                    placeholder="Search customer..." (keyup)="applyFilter($event)" #input />
            </form>
        </mat-card-title>
        <mat-card-subtitle>
            <a mat-button class="add-new-btn" routerLink="/dashboard/create-customer">+ Add New Customer</a>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="customers-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

                    <!-- Regular Columns -->
                    <ng-container *ngFor="let column of displayedColumns">
                        <ng-container [matColumnDef]="column">
                            <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
                            <td mat-cell *matCellDef="let element">
                                <ng-container [ngSwitch]="column">
                                    <!-- Info Column -->
                                    <ng-container *ngSwitchCase="'info'">
                                        <mat-icon (click)="expandedElement = expandedElement === element ? null : element" onkeypress="">
                                            {{ expandedElement === element ? 'expand_less' : 'expand_more' }}
                                        </mat-icon>
                                    </ng-container>
                                    <!-- Action Column -->
                                    <ng-container *ngSwitchCase="'action'">
                                        <div class="action-info">
                                            <a mat-button [routerLink]="['/dashboard/edit-customer', element.id]"
                                                matTooltip="Edit" matTooltipPosition="above">
                                                <i class="material-symbols-outlined"> edit </i>
                                            </a>
                                            <button type="button" mat-button matTooltip="Delete" matTooltipPosition="above">
                                                <i class="material-symbols-outlined"> delete </i>
                                            </button>
                                        </div>
                                    </ng-container>
                                    <!-- Other Columns -->
                                    <ng-container *ngSwitchDefault>
                                        {{ element[column] }}
                                    </ng-container>
                                </ng-container>
                            </td>
                        </ng-container>
                    </ng-container>

             <!-- Expanded Detail Row for Customer Notes and Preferred Products -->
<ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <!-- Notes Section -->
            <div class="example-element-description">
                <ul>
                    <li><strong>Notes:</strong> {{ element.customerNotes }}</li>
                    <!-- Preferred Products Section -->
                    <li>
                        <strong>Preferred Products:</strong> 
                        {{ getPreferredProductsList(element.preferredProducts) }}
                    </li>
                </ul>
            </div>
        </div>
    </td>
</ng-container>


                    <!-- Header Row -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                    <!-- Regular Row -->
                    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
                        [class.example-expanded-row]="expandedElement === element">
                    </tr>

                    <!-- Expanded Detail Row -->
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                </table>
            </div>

            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
