<section class="section" id="spy-blog">
	<div class="container">
		<div class="section-heading section-heading--left">
			<h2 class="title">News Posts</h2>
		</div>

		<div class="blog blog--style-2">
			<div class="row align-items-md-center">
				<!-- start item -->
				<div class="col-xl-6">
					<div class="blog__item">
						<div class="row align-items-md-center">
							<div class="col-md-6 col-lg-8 col-xl-6">
								<div class="blog__entry">
									<div class="blog__post-date">
										<span>23</span>
										<span>JUL<br />2016</span>
									</div>

									<h3 class="blog__entry__title"><a href="blog_post.html">Agriculture Products</a></h3>

									<span class="blog__entry__meta">Cows | 4 Comments</span>

									<p>
										Appetizing luscious savor hot senses. Effervescent the secure special. Kids spicey chance excellent proven too
									</p>
								</div>
							</div>

							<div class="col-md-6 col-lg-4 col-xl-6">
								<figure>
									<img src="../../../assets/img/blank.gif" style="background-image: url('../../../assets/img/blog_img/1.jpg');" alt="demo">
								</figure>
							</div>
						</div>
					</div>
				</div>
				<!-- end item -->

				<!-- start item -->
				<div class="col-xl-6">
					<div class="blog__item">
						<div class="row align-items-md-center">
							<div class="col-md-6 col-lg-8 col-xl-6">
								<div class="blog__entry">
									<div class="blog__post-date">
										<span>07</span>
										<span>APR<br />2016</span>
									</div>

									<h3 class="blog__entry__title"><a href="blog_post.html">Crispy citrus exclusive</a></h3>

									<span class="blog__entry__meta">Cows | 4 Comments</span>

									<p>
										Appetizing luscious savor hot senses. Effervescent the secure special. Kids spicey chance excellent proven too
									</p>
								</div>
							</div>

							<div class="col-md-6 col-lg-4 col-xl-6">
								<figure>
									<img src="../../../assets/img/blank.gif" style="background-image: url('../../../assets/img/blog_img/4.jpg');" alt="demo">
								</figure>
							</div>
						</div>
					</div>
				</div>
				<!-- end item -->

				<!-- start item -->
				<div class="col-xl-6">
					<div class="blog__item">
						<div class="row align-items-md-center">
							<div class="col-md-6 col-lg-8 col-xl-6">
								<div class="blog__entry">
									<div class="blog__post-date">
										<span>19</span>
										<span>JUL<br />2016</span>
									</div>

									<h3 class="blog__entry__title"><a href="blog_post.html">Waxy latest also drink</a></h3>

									<span class="blog__entry__meta">Cows | 4 Comments</span>

									<p>
										Appetizing luscious savor hot senses. Effervescent the secure special. Kids spicey chance excellent proven too
									</p>
								</div>
							</div>

							<div class="col-md-6 col-lg-4 col-xl-6">
								<figure>
									<img src="../../../assets/img/blank.gif" style="background-image: url('../../../assets/img/blog_img/3.jpg');" alt="demo">
								</figure>
							</div>
						</div>
					</div>
				</div>
				<!-- end item -->

				<!-- start item -->
				<div class="col-xl-6">
					<div class="blog__item">
						<div class="row align-items-md-center">
							<div class="col-md-6 col-lg-8 col-xl-6">
								<div class="blog__entry">
									<div class="blog__post-date">
										<span>01</span>
										<span>APR<br />2016</span>
									</div>

									<h3 class="blog__entry__title"><a href="blog_post.html">Agriculture Products</a></h3>

									<span class="blog__entry__meta">Cows | 4 Comments</span>

									<p>
										Appetizing luscious savor hot senses. Effervescent the secure special. Kids spicey chance excellent proven too
									</p>
								</div>
							</div>

							<div class="col-md-6 col-lg-4 col-xl-6">
								<figure>
									<img src="../../../assets/img/blank.gif" style="background-image: url('../../../assets/img/blog_img/2.jpg');" alt="demo">
								</figure>
							</div>
						</div>
					</div>
				</div>
				<!-- end item -->
			</div>

			<div class="text-center" (click)="navigateToNewsPage()">
				<a id="blog-more-btn" class="custom-btn big primary" >See all posts</a>
			</div>
		</div>
	</div>
</section>