.button-scroll-to-top {
    position: fixed;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 1030;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; 
    height: 60px;
    background-color: #efc852;
    font-size: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.button-scroll-to-top--show {
    opacity: 1;
}

#btn-to-top {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent; /* Removed background color for the anchor */
    line-height: 60px; /* Adjusted line height to center the icon vertically */
    font-size: 32px; /* Adjusted font size for larger icon */
    text-align: center;
    text-decoration: none;
    color: white;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
